[submodule "OpenGL-Engine/vendor/GLFW"]
	path = OpenGL-Engine/vendor/GLFW
	url = https://github.com/peczedavid/glfw.git
[submodule "OpenGL-Engine/vendor/glm"]
	path = OpenGL-Engine/vendor/glm
	url = https://github.com/peczedavid/glm.git
[submodule "OpenGL-Engine/vendor/spdlog"]
	path = OpenGL-Engine/vendor/spdlog
	url = https://github.com/peczedavid/spdlog
[submodule "OpenGL-Engine/vendor/ImGuizmo"]
	path = OpenGL-Engine/vendor/ImGuizmo
	url = https://github.com/peczedavid/ImGuizmo.git
[submodule "OpenGL-Engine/vendor/imgui"]
	path = OpenGL-Engine/vendor/imgui
	url = http://github.com/peczedavid/imgui
	branch = docking
